*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
/* minimal ccs reset*/


.container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 3px;
}

article{
    background-color: bisque;
    grid-column: span 3;
}

article.small{
    grid-column: span 3;
}
article.medium{
    grid-column: span 7;
}
article.large{
    grid-column: span 9;
}
article.xlarge{
    grid-column: span 12;
}